In [1]:
import ast
import numpy as np
import os
import pycountry
import pandas as pd
import re
import sqlite3

from io import StringIO
from sklearn.preprocessing import MinMaxScaler

In [2]:
def get_language_name(code):
    try:
        return pycountry.languages.get(alpha_2=code).name
    except:
        return 'Unknown'

In [3]:
def describe_data(df):
    output = StringIO()

    # get dimensions for dataframe
    num_rows, num_columns = df.shape
    print(f"Number of rows: {num_rows}", file=output)
    print(f"Number of columns: {num_columns}\n", file=output)

    # get missing values count and %
    print("Missing values per column:", file=output)
    missing_info = df.isnull().sum()
    for column, count in missing_info.items():
        percent = (count / num_rows) * 100
        print(f"  {column}: {count} missing ({percent:.2f}%)", file=output)
    print("\nColumn details:\n", file=output)

    # for each column check their type
    for column in df.columns:
        col_data = df[column]
        col_dtype = col_data.dtype
        print(f"Column: {column}, Type: {col_dtype}", file=output)

        # if numeric describe data and check it's skewness
        if pd.api.types.is_numeric_dtype(col_data):
            print(col_data.describe(), file=output)
            print(f"  Skewness: {col_data.skew():.2f}", file=output)

        # if date then display date range and no. of unique dates
        elif pd.api.types.is_datetime64_any_dtype(col_data):
            print(f"  Date Range: {col_data.min()} to {col_data.max()}", file=output)
            print(f"  Unique Dates: {col_data.nunique()}", file=output)

        # if categorical and  unique categories <= 10 then display categories
        elif isinstance(col_data.dtype, pd.CategoricalDtype) or col_data.dtype == 'object':
            num_categories = col_data.nunique()
            print(f"  Number of categories: {num_categories}", file=output)
            if num_categories <= 10:
                category_counts = col_data.value_counts()
                print("  Counts per category:", file=output)
                for cat, count in category_counts.items():
                    print(f"    {cat}: {count}", file=output)

        # else if unique counts <= 10 then display all of them
        else:
            unique_vals = col_data.unique()
            if len(unique_vals) <= 10:
                print("  Unique values:", file=output)
                for val in unique_vals:
                    print(f"    {val}", file=output)
        
        print("-" * 50, file=output)

    return output.getvalue()

In [4]:
# mean imputation for missing runtime
def mean_imputation(merged_df, col_name):
    merged_df[col_name] = merged_df.groupby('genre')[col_name].transform(
        lambda x: x.fillna(x.mean())
    )

    print("After genre wise mean imputation check if still there are any null values")
    print(merged_df[col_name].isnull().sum())

    print("performing overall mean imputation for remaining null values")
    merged_df[col_name] = merged_df[col_name].fillna(merged_df[col_name].mean())

    print(f"Verifying if all missing values are filled for column {col_name}")
    print(merged_df[col_name].isnull().sum())
    # print(merged_df[col_name].value_counts().to_dict())

    return merged_df

In [5]:
def normalizing_data_imdb(merged_df, col_name):
    col_name_id = col_name + "_id"
    col_name_name = col_name + "_name"
    col_name_db = col_name + "_imdb"
    # get genre_id and genre_name mapping for genre_schema
    unique_genres = merged_df[col_name].dropna().unique()
    genres_df = pd.DataFrame({
        col_name_id: range(1, len(unique_genres) + 1),
        col_name_name: unique_genres
    })

    # create mapping of above schema
    genre_map = dict(zip(genres_df[col_name_name], genres_df[col_name_id]))

    # get movie_id, genre_id mapping for schema storage
    movie_genre_map_df = merged_df[['movie_id', col_name]].copy()
    movie_genre_map_df[col_name_id] = movie_genre_map_df[col_name].map(genre_map)
    movie_genre_map_df = movie_genre_map_df[['movie_id', col_name_id]]

    # drop genre column as we have seprate schema for it now
    movies_df = merged_df.drop(columns=[col_name])  # Drop genre column to normalize
    movies_df = movies_df.drop_duplicates(subset=['movie_id'])  # Optional: avoid duplicates

    # write all the schemas to DB
    # connect to the SQLite database
    db_name = '../Data/movies.db'
    conn = sqlite3.connect(db_name)

    # insert genre data to output table
    genres_df.to_sql(col_name, conn, if_exists='replace', index=False)
    movie_genre_map_df.to_sql(col_name_db, conn, if_exists='replace', index=False)

    conn.commit()
    conn.close()
    
    return movies_df

In [6]:
def normalizing_data_tmdb(merged_df, col_name):
    col_name_id = col_name + "_id"
    col_name_name = col_name + "_name"
    col_name_db = col_name + "_tmdb"
    # get genre_id and genre_name mapping for genre_schema
    unique_genres = merged_df[col_name].dropna().unique()
    genres_df = pd.DataFrame({
        col_name_id: range(1, len(unique_genres) + 1),
        col_name_name: unique_genres
    })

    # create mapping of above schema
    genre_map = dict(zip(genres_df[col_name_name], genres_df[col_name_id]))

    # get movie_id, genre_id mapping for schema storage
    movie_genre_map_df = merged_df[['id', col_name]].copy()
    movie_genre_map_df[col_name_id] = movie_genre_map_df[col_name].map(genre_map)
    movie_genre_map_df = movie_genre_map_df[['id', col_name_id]]

    # drop genre column as we have seprate schema for it now
    movies_df = merged_df.drop(columns=[col_name])  # Drop genre column to normalize
    movies_df = movies_df.drop_duplicates(subset=['id'])  # Optional: avoid duplicates

    # write all the schemas to DB
    # connect to the SQLite database
    db_name = '../Data/movies.db'
    conn = sqlite3.connect(db_name)

    # insert genre data to output table
    genres_df.to_sql(col_name, conn, if_exists='replace', index=False)
    movie_genre_map_df.to_sql(col_name_db, conn, if_exists='replace', index=False)

    conn.commit()
    conn.close()
    
    return movies_df

In [7]:
def imdb():
    directory_path = '../Data/IMDB'

    print("\n***** All IMDB files are separated by genre, but contains same columns *****")
    print("\n***** So let's merge them, for easy processing. Note: they do have 'genre' column *****")
    
    # List all files and directories in the current directory
    files_in_directory = os.listdir(directory_path)
    df_list = []
    
    for filename in files_in_directory:
        if filename.endswith(".csv"):
            df_list.append(pd.read_csv(f"{directory_path}/{filename}"))
            
    merged_df = pd.concat(df_list, ignore_index = True)
    print("\n***** Merged dataset dimensions are: *****")
    
    total_rows, total_cols = merged_df.shape
    print(f"Number of rows {total_rows} and Number of cols {total_cols}")

    # print("\n***** Display Top5 records *****")
    # print(merged_df.head())

    print("\n***** Describing Data *****")
    print(describe_data(merged_df))

    print("\n***** Dropping the columns 'certificate' and 'gross(is $)' due to high missing data. Also, 'director_id' and 'star_id', as we will create new id mapping for them *****")
    # note that certificate and gross(in $) has more than 70% missing values
    # so they are not useful for us, hence drop them
    merged_df.drop(columns = ["certificate", "gross(in $)", "director_id", "star_id"], inplace = True)
    #print(merged_df.shape)

    print("\n***** Dropping the 4 records which does not have movie name *****")
    # drop movie records which does not have name
    merged_df = merged_df.dropna(subset=['movie_name'])
    # print(merged_df['movie_name'].isna().sum())

    # converting movie_id to int
    merged_df['movie_id'] = merged_df['movie_id'].str[2:].astype('Int64')

    print("\n***** Keeping data only for year >= 2000 *****")
    merged_df['year'] = pd.to_numeric(merged_df['year'], errors='coerce')
    # merged_df = merged_df[merged_df['year'] >= 2000]

    print(describe_data(merged_df))

    print("\n***** Format 'runtime' column to have only numerical (float) values *****")
    # process the runtime attribute and bring to int format
    # Define regex pattern for valid entries like '130 min'
    pattern = r'^\d+\s*min$'
    
    # Create a mask for rows that do NOT match the pattern 
    # (e.g. to check if it contains 2 hrs or 2.5 hrs etc)
    invalid_runtime = merged_df[~merged_df['runtime'].astype(str).str.match(pattern, na=False)]
    
    # Display the rows with invalid format
    print("Invalid runtime entries:")
    print(invalid_runtime['runtime'].value_counts())
    
    # Remove commas and extract numeric part
    merged_df['runtime'] = merged_df['runtime'].str.replace(',', '')  # Remove commas
    merged_df['runtime'] = merged_df['runtime'].str.extract(r'(\d+)').astype(float)  # Use raw string
    # print(merged_df['runtime'].head())

    print("\n***** Genre column is list type, exploding it to perform imputations on 'rating', 'vote' and col_name columns *****")

    # note: genre column is a string where it contains multiple genres separated by commas
    # split it and then explode
    merged_df['genre'] = merged_df['genre'].apply(
        lambda x: [g.strip() for g in x.split(',')] if pd.notna(x) else x
    )

    # check shape before explode
    # print(merged_df.shape)
    # Step 2: Explode
    merged_df = merged_df.explode('genre')
    # check shape after explode
    # print(merged_df.shape)

    # after exploding there are duplicates
    # e.g. movie A can have both genre "Action" and "Comedy"
    # then it will have it's seperate record in both of the files (which we merged initially)
    merged_df.drop_duplicates(inplace = True)
    # print(merged_df.shape)
    # print(merged_df.columns)

    # mean imputation for missing runtime
    merged_df = mean_imputation(merged_df, 'runtime')
    merged_df['runtime'] = merged_df['runtime'].round()

    # mean imputation for missing votes
    merged_df = mean_imputation(merged_df, 'votes')
    merged_df['votes'] = merged_df['votes'].round()

    # mean imputation for missing rating
    merged_df = mean_imputation(merged_df, 'rating')
    merged_df['rating'] = merged_df['rating'].round(1)

    print("\n ***** Now let's analyse again how our processed data looks like *****")
    print(describe_data(merged_df))

    print("\n ***** Actors and directors column still have some missing values, but we won't impute them *****")
    print("\n ***** Instead we will do normalization on data *****")

    print("\n ***** Starting Normalization for 'genre', 'actor' and 'diector' columns *****")

    merged_df = normalizing_data_imdb(merged_df, 'genre')

    # fill missing values for director
    merged_df['director'] = merged_df['director'].fillna('Unknown')
    merged_df['director'] = merged_df['director'].str.replace('\n', '').str.strip()

    # note: genre column is a string where it contains multiple genres separated by commas
    # split it and then explode
    merged_df['director'] = merged_df['director'].apply(
        lambda x: [g.strip() for g in x.split(',')] if pd.notna(x) else x
    )

    # check shape before explode
    # print(merged_df.shape)
    # Step 2: Explode
    merged_df = merged_df.explode('director')
    # check shape after explode
    # print(merged_df.shape)

    # after exploding there are duplicates
    # e.g. as some values can have different order [director_A, director_B] and [director_B, director_A]
    # then after splitting it will create duplicates
    merged_df.drop_duplicates(inplace = True)
    # print(merged_df.shape)
    # print(merged_df.columns)

    merged_df = normalizing_data_imdb(merged_df, 'director')

    # fill missing values for star
    merged_df['star'] = merged_df['star'].fillna('Unknown')
    merged_df['star'] = merged_df['star'].str.replace('\n', '').str.strip()

    # note: genre column is a string where it contains multiple genres separated by commas
    # split it and then explode
    merged_df['star'] = merged_df['star'].apply(
        lambda x: [g.strip() for g in x.split(',')] if pd.notna(x) else x
    )

    # check shape before explode
    # print(merged_df.shape)
    # Step 2: Explode
    merged_df = merged_df.explode('star')
    # check shape after explode
    # print(merged_df.shape)

    # after exploding there are duplicates
    # e.g. as some values can have different order [director_A, director_B] and [director_B, director_A]
    # then after splitting it will create duplicates
    merged_df.drop_duplicates(inplace = True)
    # print(merged_df.shape)
    # print(merged_df.columns)

    movies_df = normalizing_data_imdb(merged_df, 'star')

    # converting data types for year and runtime to 'Int'
    movies_df['year'] = movies_df['year'].astype('Int64')
    movies_df['runtime'] = movies_df['runtime'].astype('Int64')

    print(describe_data(merged_df))
    # write all the schemas to DB
    # connect to the SQLite database
    db_name = '../Data/movies.db'
    conn = sqlite3.connect(db_name)

    # insert movie data to output table
    movies_df.to_sql('imdb', conn, if_exists='replace', index=False)

    conn.commit()
    conn.close()

In [8]:
imdb()

***** All IMDB files are separated by genre, but contains same columns *****

***** So let's merge them, for easy processing. Note: they do have 'genre' column *****

***** Merged dataset dimensions are: *****
Number of rows 368300 and Number of cols 14

***** Describing Data *****
Number of rows: 368300
Number of columns: 14

Missing values per column:
  movie_id: 0 missing (0.00%)
  movie_name: 4 missing (0.00%)
  year: 53248 missing (14.46%)
  certificate: 264109 missing (71.71%)
  runtime: 109154 missing (29.64%)
  genre: 0 missing (0.00%)
  rating: 137362 missing (37.30%)
  description: 0 missing (0.00%)
  director: 27369 missing (7.43%)
  director_id: 27369 missing (7.43%)
  star: 58695 missing (15.94%)
  star_id: 51858 missing (14.08%)
  votes: 137358 missing (37.30%)
  gross(in $): 343261 missing (93.20%)

Column details:

Column: movie_id, Type: object
  Number of categories: 243197
--------------------------------------------------
Column: movie_name, Type: object
  Number of categories: 213857
--------------------------------------------------
Column: year, Type: object
  Number of categories: 225
--------------------------------------------------
Column: certificate, Type: object
  Number of categories: 44
--------------------------------------------------
Column: runtime, Type: object
  Number of categories: 365
--------------------------------------------------
Column: genre, Type: object
  Number of categories: 1749
--------------------------------------------------
Column: rating, Type: float64
count    230938.000000
mean          5.831825
std           1.324856
min           1.000000
25%           5.000000
50%           6.000000
75%           6.700000
max          10.000000
Name: rating, dtype: float64
  Skewness: -0.41
--------------------------------------------------
Column: description, Type: object
  Number of categories: 186842
--------------------------------------------------
Column: director, Type: object
  Number of categories: 103525
--------------------------------------------------
Column: director_id, Type: object
  Number of categories: 96502
--------------------------------------------------
Column: star, Type: object
  Number of categories: 197392
--------------------------------------------------
Column: star_id, Type: object
  Number of categories: 202488
--------------------------------------------------
Column: votes, Type: float64
count    2.309420e+05
mean     9.621306e+03
std      5.844606e+04
min      5.000000e+00
25%      3.700000e+01
50%      1.840000e+02
75%      1.181000e+03
max      2.675531e+06
Name: votes, dtype: float64
  Skewness: 14.69
--------------------------------------------------
Column: gross(in $), Type: float64
count    2.503900e+04
mean     2.963822e+07
std      6.303061e+07
min      1.000000e+00
25%      3.141700e+05
50%      5.017971e+06
75%      3.105236e+07
max      9.366622e+08
Name: gross(in $), dtype: float64
  Skewness: 4.76
--------------------------------------------------


***** Dropping the columns 'certificate' and 'gross(is $)' due to high missing data. Also, 'director_id' and 'star_id', as we will create new id mapping for them *****

***** Dropping the 4 records which does not have movie name *****

***** Keeping data only for year >= 2000 *****
Number of rows: 368296
Number of columns: 10

Missing values per column:
  movie_id: 0 missing (0.00%)
  movie_name: 0 missing (0.00%)
  year: 66060 missing (17.94%)
  runtime: 109151 missing (29.64%)
  genre: 0 missing (0.00%)
  rating: 137358 missing (37.30%)
  description: 0 missing (0.00%)
  director: 27369 missing (7.43%)
  star: 58695 missing (15.94%)
  votes: 137354 missing (37.29%)

Column details:

Column: movie_id, Type: Int64
count          368296.0
mean     4904095.209359
std      6013978.409643
min                 9.0
25%            243513.0
50%           2279373.0
75%           7665350.0
max          27055121.0
Name: movie_id, dtype: Float64
  Skewness: 1.47
--------------------------------------------------
Column: movie_name, Type: object
  Number of categories: 213857
--------------------------------------------------
Column: year, Type: float64
count    302236.000000
mean       1993.944441
std          27.148859
min        1894.000000
25%        1976.000000
50%        2005.000000
75%        2016.000000
max        2029.000000
Name: year, dtype: float64
  Skewness: -1.03
--------------------------------------------------
Column: runtime, Type: object
  Number of categories: 365
--------------------------------------------------
Column: genre, Type: object
  Number of categories: 1749
--------------------------------------------------
Column: rating, Type: float64
count    230938.000000
mean          5.831825
std           1.324856
min           1.000000
25%           5.000000
50%           6.000000
75%           6.700000
max          10.000000
Name: rating, dtype: float64
  Skewness: -0.41
--------------------------------------------------
Column: description, Type: object
  Number of categories: 186840
--------------------------------------------------
Column: director, Type: object
  Number of categories: 103524
--------------------------------------------------
Column: star, Type: object
  Number of categories: 197390
--------------------------------------------------
Column: votes, Type: float64
count    2.309420e+05
mean     9.621306e+03
std      5.844606e+04
min      5.000000e+00
25%      3.700000e+01
50%      1.840000e+02
75%      1.181000e+03
max      2.675531e+06
Name: votes, dtype: float64
  Skewness: 14.69
--------------------------------------------------


***** Format 'runtime' column to have only numerical (float) values *****
Invalid runtime entries:
runtime
1,440 min    3
1,100 min    1
5,460 min    1
1,800 min    1
1,200 min    1
1,669 min    1
1,428 min    1
2,160 min    1
5,538 min    1
Name: count, dtype: int64

***** Genre column is list type, exploding it to perform imputations on 'rating', 'vote' and col_name columns *****
After genre wise mean imputation check if still there are any null values
0
performing overall mean imputation for remaining null values
Verifying if all missing values are filled for column runtime
0
After genre wise mean imputation check if still there are any null values
13
performing overall mean imputation for remaining null values
Verifying if all missing values are filled for column votes
0
After genre wise mean imputation check if still there are any null values
13
performing overall mean imputation for remaining null values
Verifying if all missing values are filled for column rating
0

 ***** Now let's analyse again how our processed data looks like *****
Number of rows: 517446
Number of columns: 10

Missing values per column:
  movie_id: 0 missing (0.00%)
  movie_name: 0 missing (0.00%)
  year: 77970 missing (15.07%)
  runtime: 0 missing (0.00%)
  genre: 0 missing (0.00%)
  rating: 0 missing (0.00%)
  description: 0 missing (0.00%)
  director: 31375 missing (6.06%)
  star: 67977 missing (13.14%)
  votes: 0 missing (0.00%)

Column details:

Column: movie_id, Type: Int64
count          517446.0
mean      4503909.04203
std      5835566.338467
min                 9.0
25%           186894.25
50%           1849786.0
75%           6929544.0
max          27055121.0
Name: movie_id, dtype: Float64
  Skewness: 1.59
--------------------------------------------------
Column: movie_name, Type: object
  Number of categories: 213857
--------------------------------------------------
Column: year, Type: float64
count    439476.000000
mean       1992.650377
std          27.738959
min        1894.000000
25%        1974.000000
50%        2003.000000
75%        2015.000000
max        2029.000000
Name: year, dtype: float64
  Skewness: -0.96
--------------------------------------------------
Column: runtime, Type: float64
count    517446.000000
mean         96.866635
std          29.083910
min           1.000000
25%          87.000000
50%          95.000000
75%         102.000000
max        5538.000000
Name: runtime, dtype: float64
  Skewness: 66.39
--------------------------------------------------
Column: genre, Type: object
  Number of categories: 27
--------------------------------------------------
Column: rating, Type: float64
count    517446.000000
mean          5.913406
std           1.069255
min           1.000000
25%           5.400000
50%           6.000000
75%           6.500000
max          10.000000
Name: rating, dtype: float64
  Skewness: -0.49
--------------------------------------------------
Column: description, Type: object
  Number of categories: 186840
--------------------------------------------------
Column: director, Type: object
  Number of categories: 103524
--------------------------------------------------
Column: star, Type: object
  Number of categories: 197390
--------------------------------------------------
Column: votes, Type: float64
count    5.174460e+05
mean     1.040931e+04
std      4.972556e+04
min      5.000000e+00
25%      9.100000e+01
50%      1.279000e+03
75%      8.076000e+03
max      2.675531e+06
Name: votes, dtype: float64
  Skewness: 16.89
--------------------------------------------------


 ***** Actors and directors column still have some missing values, but we won't impute them *****

 ***** Instead we will do normalization on data *****

 ***** Starting Normalization for 'genre', 'actor' and 'diector' columns *****
Number of rows: 804579
Number of columns: 8

Missing values per column:
  movie_id: 0 missing (0.00%)
  movie_name: 0 missing (0.00%)
  year: 77827 missing (9.67%)
  runtime: 0 missing (0.00%)
  rating: 0 missing (0.00%)
  description: 0 missing (0.00%)
  star: 0 missing (0.00%)
  votes: 0 missing (0.00%)

Column details:

Column: movie_id, Type: Int64
count          804579.0
mean     4472511.778253
std      5876364.015012
min                 9.0
25%            197663.0
50%           1773811.0
75%           6837832.0
max          27055121.0
Name: movie_id, dtype: Float64
  Skewness: 1.61
--------------------------------------------------
Column: movie_name, Type: object
  Number of categories: 213572
--------------------------------------------------
Column: year, Type: float64
count    726752.000000
mean       1992.787785
std          27.555201
min        1894.000000
25%        1974.000000
50%        2003.000000
75%        2015.000000
max        2029.000000
Name: year, dtype: float64
  Skewness: -0.97
--------------------------------------------------
Column: runtime, Type: float64
count    804579.000000
mean         96.047218
std          29.301373
min           1.000000
25%          86.000000
50%          95.000000
75%         102.000000
max        5538.000000
Name: runtime, dtype: float64
  Skewness: 67.95
--------------------------------------------------
Column: rating, Type: float64
count    804579.000000
mean          5.847795
std           1.108035
min           1.000000
25%           5.400000
50%           5.900000
75%           6.400000
max          10.000000
Name: rating, dtype: float64
  Skewness: -0.44
--------------------------------------------------
Column: description, Type: object
  Number of categories: 186757
--------------------------------------------------
Column: star, Type: object
  Number of categories: 312285
--------------------------------------------------
Column: votes, Type: float64
count    8.045790e+05
mean     8.210785e+03
std      3.970783e+04
min      5.000000e+00
25%      6.100000e+01
50%      6.900000e+02
75%      8.076000e+03
max      2.675531e+06
Name: votes, dtype: float64
  Skewness: 21.82
--------------------------------------------------

In [11]:
def tmdb():
    directory_path = '../Data/TMDB'

    # List all files and directories in the current directory
    files_in_directory = os.listdir(directory_path)
    df_list = []
    
    for filename in files_in_directory:
        if filename.endswith(".csv"):
            df_list.append(pd.read_csv(f"{directory_path}/{filename}"))
            
    merged_df = pd.concat(df_list, ignore_index = True)
    print("\n***** Merged dataset dimensions are: *****")
    
    total_rows, total_cols = merged_df.shape
    print(f"Number of rows {total_rows} and Number of cols {total_cols}")

    print("\n***** Display Top5 records *****")
    print(merged_df.head())

    print("\n***** Describing Data *****")
    print(describe_data(merged_df))

    print("\n***** Dropping the columns 'backdrop_path', 'homepage', 'imdb_id', 'overview', 'poster_path', 'tagline', 'genres', 'keywords' due to high missing data.  *****")
    # note that certificate and gross(in $) has more than 70% missing values
    # so they are not useful for us, hence drop them
    merged_df.drop(columns = ["backdrop_path", "homepage", "imdb_id", "overview", "poster_path", "tagline", "genres", "keywords"], inplace = True)
    #print(merged_df.shape)

    print("\n***** Dropping the 13 records which does not have title *****")
    # drop movie records which does not have name
    merged_df = merged_df.dropna(subset=['title'])
    # print(merged_df['movie_name'].isna().sum())

    # converting movie_id to int
    merged_df['id'] = merged_df['id'].astype('Int64')

    print("\n ***** Filling missing values for columns 'production_countries', 'production_companies' and 'spoken_language' *****")
    merged_df['production_countries'] = merged_df['production_countries'].fillna('Unknown')
    merged_df['production_companies'] = merged_df['production_companies'].fillna('Unknown')
    merged_df['spoken_languages'] = merged_df['spoken_languages'].fillna('Unknown')

    print("\n ***** Converting release date to release year *****")
    merged_df['release_date'] = pd.to_datetime(merged_df['release_date'], errors='coerce')

    merged_df['release_year'] = merged_df['release_date'].dt.year
    merged_df.drop(columns=['release_date'], inplace = True)

    print("\n ***** Starting Normalization on columns 'production_countries', 'production_companies', 'spoken_languages' ***** ")

    merged_df['production_companies'] = merged_df['production_companies'].apply(
        lambda x: [g.strip() for g in x.split(',')] if pd.notna(x) else x
    )

    # check shape before explode
    # print(merged_df.shape)
    # Step 2: Explode
    merged_df = merged_df.explode('production_companies')
    # check shape after explode
    # print(merged_df.shape)

    merged_df.drop_duplicates(inplace = True)
    # print(merged_df.shape)
    # print(merged_df.columns)

    merged_df = normalizing_data_tmdb(merged_df, 'production_companies')

    # starting for production_countries
    merged_df['production_countries'] = merged_df['production_countries'].apply(
        lambda x: [g.strip() for g in x.split(',')] if pd.notna(x) else x
    )

    # check shape before explode
    # print(merged_df.shape)
    # Step 2: Explode
    merged_df = merged_df.explode('production_countries')
    # check shape after explode
    # print(merged_df.shape)

    merged_df.drop_duplicates(inplace = True)
    # print(merged_df.shape)
    # print(merged_df.columns)

    merged_df = normalizing_data_tmdb(merged_df, 'production_countries')

    print(describe_data(merged_df))

    # starting for spoken_languages
    merged_df['spoken_languages'] = merged_df['spoken_languages'].apply(
        lambda x: [g.strip() for g in x.split(',')] if pd.notna(x) else x
    )

    # check shape before explode
    # print(merged_df.shape)
    # Step 2: Explode
    merged_df = merged_df.explode('spoken_languages')
    # check shape after explode
    # print(merged_df.shape)

    merged_df.drop_duplicates(inplace = True)
    # print(merged_df.shape)
    # print(merged_df.columns)

    movies_df = normalizing_data_tmdb(merged_df, 'spoken_languages')

    # converting language codes to actual language names
    movies_df['original_language'] = movies_df['original_language'].apply(get_language_name)

    print("\n***** Removing noisy data from runtime column *****")
    movies_df['runtime'] = movies_df['runtime'].apply(lambda x: 0 if x < 0 else x)

    print(describe_data(movies_df))

    # rounding up vote_avg to 1 decimal point
    movies_df['vote_average'] = movies_df['vote_average'].round(1)

    # write all the schemas to DB
    # connect to the SQLite database
    db_name = '../Data/movies.db'
    conn = sqlite3.connect(db_name)

    # insert movie data to output table
    movies_df.to_sql('tmdb', conn, if_exists='replace', index=False)

    conn.commit()
    conn.close()

In [12]:
tmdb()

***** Merged dataset dimensions are: *****
Number of rows 1180936 and Number of cols 24

***** Display Top5 records *****
       id            title  vote_average  vote_count    status release_date  \
0   27205        Inception         8.364       34495  Released   2010-07-15
1  157336     Interstellar         8.417       32571  Released   2014-11-05
2     155  The Dark Knight         8.512       30619  Released   2008-07-16
3   19995           Avatar         7.573       29815  Released   2009-12-15
4   24428     The Avengers         7.710       29166  Released   2012-04-25

      revenue  runtime  adult                     backdrop_path  ...  \
0   825532764      148  False  /8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg  ...
1   701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...
2  1004558444      152  False  /nMKdUUepR0i5zn0y1T4CsSB5chy.jpg  ...
3  2923706026      162  False  /vL5LR6WdxWPjLPFRLe133jXWsh5.jpg  ...
4  1518815515      143  False  /9BBTo63ANSmhC4e6r62OJFuK2GL.jpg  ...

    original_title                                           overview  \
0        Inception  Cobb, a skilled thief who commits corporate es...
1     Interstellar  The adventures of a group of explorers who mak...
2  The Dark Knight  Batman raises the stakes in his war on crime. ...
3           Avatar  In the 22nd century, a paraplegic Marine is di...
4     The Avengers  When an unexpected enemy emerges and threatens...

  popularity                       poster_path  \
0     83.952  /oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg
1    140.241  /gEU2QniE6E77NI6lCU6MxlNBvIx.jpg
2    130.643  /qJ2tW6WMUDux911r6m7haRef0WH.jpg
3     79.932  /kyeqWdyUXW608qlYkRqosgbbJyK.jpg
4     98.082   /RYMX2wcKCBAr24UyPD7xwmjaTn.jpg

                                             tagline  \
0               Your mind is the scene of the crime.
1  Mankind was born on Earth. It was never meant ...
2                  Welcome to a world without rules.
3                        Enter the world of Pandora.
4                            Some assembly required.

                                        genres  \
0           Action, Science Fiction, Adventure
1            Adventure, Drama, Science Fiction
2               Drama, Action, Crime, Thriller
3  Action, Adventure, Fantasy, Science Fiction
4           Science Fiction, Action, Adventure

                                production_companies  \
0  Legendary Pictures, Syncopy, Warner Bros. Pict...
1  Legendary Pictures, Syncopy, Lynda Obst Produc...
2  DC Comics, Legendary Pictures, Syncopy, Isobel...
3  Dune Entertainment, Lightstorm Entertainment, ...
4                                     Marvel Studios

                       production_countries  \
0  United Kingdom, United States of America
1  United Kingdom, United States of America
2  United Kingdom, United States of America
3  United States of America, United Kingdom
4                  United States of America

                     spoken_languages  \
0  English, French, Japanese, Swahili
1                             English
2                   English, Mandarin
3                    English, Spanish
4             English, Hindi, Russian

                                            keywords
0  rescue, mission, dream, airplane, paris, franc...
1  rescue, future, spacecraft, race against time,...
2  joker, sadism, chaos, secret identity, crime f...
3  future, society, culture clash, space travel, ...
4  new york city, superhero, shield, based on com...

[5 rows x 24 columns]

***** Describing Data *****
Number of rows: 1180936
Number of columns: 24

Missing values per column:
  id: 0 missing (0.00%)
  title: 13 missing (0.00%)
  vote_average: 0 missing (0.00%)
  vote_count: 0 missing (0.00%)
  status: 0 missing (0.00%)
  release_date: 205856 missing (17.43%)
  revenue: 0 missing (0.00%)
  runtime: 0 missing (0.00%)
  adult: 0 missing (0.00%)
  backdrop_path: 870730 missing (73.73%)
  budget: 0 missing (0.00%)
  homepage: 1056690 missing (89.48%)
  imdb_id: 567549 missing (48.06%)
  original_language: 0 missing (0.00%)
  original_title: 13 missing (0.00%)
  overview: 245796 missing (20.81%)
  popularity: 0 missing (0.00%)
  poster_path: 381022 missing (32.26%)
  tagline: 1015599 missing (86.00%)
  genres: 481210 missing (40.75%)
  production_companies: 652356 missing (55.24%)
  production_countries: 531751 missing (45.03%)
  spoken_languages: 511736 missing (43.33%)
  keywords: 866283 missing (73.36%)

Column details:

Column: id, Type: int64
count    1.180936e+06
mean     7.659017e+05
std      4.089118e+05
min      2.000000e+00
25%      4.241478e+05
50%      7.722705e+05
75%      1.131991e+06
max      1.437222e+06
Name: id, dtype: float64
  Skewness: -0.10
--------------------------------------------------
Column: title, Type: object
  Number of categories: 1011274
--------------------------------------------------
Column: vote_average, Type: float64
count    1.180936e+06
mean     1.819103e+00
std      2.994106e+00
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      4.500000e+00
max      1.000000e+01
Name: vote_average, dtype: float64
  Skewness: 1.26
--------------------------------------------------
Column: vote_count, Type: int64
count    1.180936e+06
mean     1.816388e+01
std      3.125002e+02
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      1.000000e+00
max      3.449500e+04
Name: vote_count, dtype: float64
  Skewness: 41.77
--------------------------------------------------
Column: status, Type: object
  Number of categories: 6
  Counts per category:
    Released: 1151865
    In Production: 11863
    Post Production: 9020
    Planned: 7476
    Rumored: 403
    Canceled: 309
--------------------------------------------------
Column: release_date, Type: object
  Number of categories: 42897
--------------------------------------------------
Column: revenue, Type: int64
count    1.180936e+06
mean     6.825867e+05
std      1.844609e+07
min     -1.200000e+01
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      5.000000e+09
Name: revenue, dtype: float64
  Skewness: 72.29
--------------------------------------------------
Column: runtime, Type: int64
count    1.180936e+06
mean     4.709205e+01
std      6.157051e+01
min     -2.800000e+01
25%      0.000000e+00
50%      2.100000e+01
75%      8.800000e+01
max      1.440000e+04
Name: runtime, dtype: float64
  Skewness: 34.16
--------------------------------------------------
Column: adult, Type: bool
count     1180936
unique          2
top         False
freq      1068174
Name: adult, dtype: object
  Skewness: 2.75
--------------------------------------------------
Column: backdrop_path, Type: object
  Number of categories: 307616
--------------------------------------------------
Column: budget, Type: int64
count    1.180936e+06
mean     2.639273e+05
std      5.101892e+06
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+09
Name: budget, dtype: float64
  Skewness: 52.57
--------------------------------------------------
Column: homepage, Type: object
  Number of categories: 116543
--------------------------------------------------
Column: imdb_id, Type: object
  Number of categories: 611909
--------------------------------------------------
Column: original_language, Type: object
  Number of categories: 174
--------------------------------------------------
Column: original_title, Type: object
  Number of categories: 1045694
--------------------------------------------------
Column: overview, Type: object
  Number of categories: 908125
--------------------------------------------------
Column: popularity, Type: float64
count    1.180936e+06
mean     1.206565e+00
std      7.445468e+00
min      0.000000e+00
25%      6.000000e-01
50%      6.000000e-01
75%      8.730000e-01
max      2.994357e+03
Name: popularity, dtype: float64
  Skewness: 176.70
--------------------------------------------------
Column: poster_path, Type: object
  Number of categories: 795231
--------------------------------------------------
Column: tagline, Type: object
  Number of categories: 158751
--------------------------------------------------
Column: genres, Type: object
  Number of categories: 13606
--------------------------------------------------
Column: production_companies, Type: object
  Number of categories: 210819
--------------------------------------------------
Column: production_countries, Type: object
  Number of categories: 10223
--------------------------------------------------
Column: spoken_languages, Type: object
  Number of categories: 7128
--------------------------------------------------
Column: keywords, Type: object
  Number of categories: 180581
--------------------------------------------------


***** Dropping the columns 'backdrop_path', 'homepage', 'imdb_id', 'overview', 'poster_path', 'tagline', 'genres', 'keywords' due to high missing data.  *****

***** Dropping the 13 records which does not have title *****

 ***** Filling missing values for columns 'production_countries', 'production_companies' and 'spoken_language' *****

 ***** Converting release date to release year *****

 ***** Starting Normalization on columns 'production_countries', 'production_companies', 'spoken_languages' *****
Number of rows: 1180080
Number of columns: 14

Missing values per column:
  id: 0 missing (0.00%)
  title: 0 missing (0.00%)
  vote_average: 0 missing (0.00%)
  vote_count: 0 missing (0.00%)
  status: 0 missing (0.00%)
  revenue: 0 missing (0.00%)
  runtime: 0 missing (0.00%)
  adult: 0 missing (0.00%)
  budget: 0 missing (0.00%)
  original_language: 0 missing (0.00%)
  original_title: 0 missing (0.00%)
  popularity: 0 missing (0.00%)
  spoken_languages: 0 missing (0.00%)
  release_year: 205326 missing (17.40%)

Column details:

Column: id, Type: Int64
count        1180080.0
mean     765536.800773
std      408828.772003
min                2.0
25%           423902.5
50%           771837.5
75%         1131260.25
max          1437222.0
Name: id, dtype: Float64
  Skewness: -0.10
--------------------------------------------------
Column: title, Type: object
  Number of categories: 1011220
--------------------------------------------------
Column: vote_average, Type: float64
count    1.180080e+06
mean     1.820353e+00
std      2.994732e+00
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      4.500000e+00
max      1.000000e+01
Name: vote_average, dtype: float64
  Skewness: 1.26
--------------------------------------------------
Column: vote_count, Type: int64
count    1.180080e+06
mean     1.817704e+01
std      3.126131e+02
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      1.000000e+00
max      3.449500e+04
Name: vote_count, dtype: float64
  Skewness: 41.76
--------------------------------------------------
Column: status, Type: object
  Number of categories: 6
  Counts per category:
    Released: 1151070
    In Production: 11840
    Post Production: 9005
    Planned: 7455
    Rumored: 403
    Canceled: 307
--------------------------------------------------
Column: revenue, Type: int64
count    1.180080e+06
mean     6.830749e+05
std      1.845277e+07
min     -1.200000e+01
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      5.000000e+09
Name: revenue, dtype: float64
  Skewness: 72.26
--------------------------------------------------
Column: runtime, Type: int64
count    1.180080e+06
mean     4.710496e+01
std      6.157799e+01
min     -2.800000e+01
25%      0.000000e+00
50%      2.100000e+01
75%      8.800000e+01
max      1.440000e+04
Name: runtime, dtype: float64
  Skewness: 34.17
--------------------------------------------------
Column: adult, Type: bool
count     1180080
unique          2
top         False
freq      1067413
Name: adult, dtype: object
  Skewness: 2.75
--------------------------------------------------
Column: budget, Type: int64
count    1.180080e+06
mean     2.641153e+05
std      5.103737e+06
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+09
Name: budget, dtype: float64
  Skewness: 52.55
--------------------------------------------------
Column: original_language, Type: object
  Number of categories: 174
--------------------------------------------------
Column: original_title, Type: object
  Number of categories: 1045668
--------------------------------------------------
Column: popularity, Type: float64
count    1.180080e+06
mean     1.207159e+00
std      7.448119e+00
min      0.000000e+00
25%      6.000000e-01
50%      6.000000e-01
75%      8.730000e-01
max      2.994357e+03
Name: popularity, dtype: float64
  Skewness: 176.64
--------------------------------------------------
Column: spoken_languages, Type: object
  Number of categories: 7128
--------------------------------------------------
Column: release_year, Type: float64
count    974754.000000
mean       1999.974690
std          26.620324
min        1800.000000
25%        1990.000000
50%        2011.000000
75%        2019.000000
max        2099.000000
Name: release_year, dtype: float64
  Skewness: -1.60
--------------------------------------------------


***** Removing noisy data from runtime column *****
Number of rows: 1180080
Number of columns: 13

Missing values per column:
  id: 0 missing (0.00%)
  title: 0 missing (0.00%)
  vote_average: 0 missing (0.00%)
  vote_count: 0 missing (0.00%)
  status: 0 missing (0.00%)
  revenue: 0 missing (0.00%)
  runtime: 0 missing (0.00%)
  adult: 0 missing (0.00%)
  budget: 0 missing (0.00%)
  original_language: 0 missing (0.00%)
  original_title: 0 missing (0.00%)
  popularity: 0 missing (0.00%)
  release_year: 205326 missing (17.40%)

Column details:

Column: id, Type: Int64
count        1180080.0
mean     765536.800773
std      408828.772003
min                2.0
25%           423902.5
50%           771837.5
75%         1131260.25
max          1437222.0
Name: id, dtype: Float64
  Skewness: -0.10
--------------------------------------------------
Column: title, Type: object
  Number of categories: 1011220
--------------------------------------------------
Column: vote_average, Type: float64
count    1.180080e+06
mean     1.820353e+00
std      2.994732e+00
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      4.500000e+00
max      1.000000e+01
Name: vote_average, dtype: float64
  Skewness: 1.26
--------------------------------------------------
Column: vote_count, Type: int64
count    1.180080e+06
mean     1.817704e+01
std      3.126131e+02
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      1.000000e+00
max      3.449500e+04
Name: vote_count, dtype: float64
  Skewness: 41.76
--------------------------------------------------
Column: status, Type: object
  Number of categories: 6
  Counts per category:
    Released: 1151070
    In Production: 11840
    Post Production: 9005
    Planned: 7455
    Rumored: 403
    Canceled: 307
--------------------------------------------------
Column: revenue, Type: int64
count    1.180080e+06
mean     6.830749e+05
std      1.845277e+07
min     -1.200000e+01
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      5.000000e+09
Name: revenue, dtype: float64
  Skewness: 72.26
--------------------------------------------------
Column: runtime, Type: int64
count    1.180080e+06
mean     4.710499e+01
std      6.157796e+01
min      0.000000e+00
25%      0.000000e+00
50%      2.100000e+01
75%      8.800000e+01
max      1.440000e+04
Name: runtime, dtype: float64
  Skewness: 34.17
--------------------------------------------------
Column: adult, Type: bool
count     1180080
unique          2
top         False
freq      1067413
Name: adult, dtype: object
  Skewness: 2.75
--------------------------------------------------
Column: budget, Type: int64
count    1.180080e+06
mean     2.641153e+05
std      5.103737e+06
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+09
Name: budget, dtype: float64
  Skewness: 52.55
--------------------------------------------------
Column: original_language, Type: object
  Number of categories: 172
--------------------------------------------------
Column: original_title, Type: object
  Number of categories: 1045668
--------------------------------------------------
Column: popularity, Type: float64
count    1.180080e+06
mean     1.207159e+00
std      7.448119e+00
min      0.000000e+00
25%      6.000000e-01
50%      6.000000e-01
75%      8.730000e-01
max      2.994357e+03
Name: popularity, dtype: float64
  Skewness: 176.64
--------------------------------------------------
Column: release_year, Type: float64
count    974754.000000
mean       1999.974690
std          26.620324
min        1800.000000
25%        1990.000000
50%        2011.000000
75%        2019.000000
max        2099.000000
Name: release_year, dtype: float64
  Skewness: -1.60
--------------------------------------------------

In [13]:
def movielens():
    directory_path = '../Data/movielens'

    # List all files and directories in the current directory
    files_in_directory = os.listdir(directory_path)
    df_list = []

    db_name = '../Data/movies.db'
    conn = sqlite3.connect(db_name)
    
    for filename in files_in_directory:
        if filename.endswith(".csv"):
            df = pd.read_csv(f"{directory_path}/{filename}")

            print(filename)
            df.dropna(inplace = True)

            print(describe_data(df))

            table_name = filename.split(".")[0]
        
            # insert movie data to output table
            df.to_sql(table_name, conn, if_exists='replace', index=False)
        
    conn.commit()
    conn.close()

In [14]:
movielens()

links.csv
Number of rows: 87461
Number of columns: 3

Missing values per column:
  movieId: 0 missing (0.00%)
  imdbId: 0 missing (0.00%)
  tmdbId: 0 missing (0.00%)

Column details:

Column: movieId, Type: int64
count     87461.000000
mean     157739.966682
std       78995.211045
min           1.000000
25%      112913.000000
50%      165835.000000
75%      213249.000000
max      292757.000000
Name: movieId, dtype: float64
  Skewness: -0.39
--------------------------------------------------
Column: imdbId, Type: int64
count    8.746100e+04
mean     2.794260e+06
std      4.280858e+06
min      1.000000e+00
25%      9.459000e+04
50%      4.928900e+05
75%      3.881680e+06
max      2.908110e+07
Name: imdbId, dtype: float64
  Skewness: 2.24
--------------------------------------------------
Column: tmdbId, Type: float64
count    8.746100e+04
mean     2.413823e+05
std      2.471467e+05
min      2.000000e+00
25%      4.683600e+04
50%      1.392720e+05
75%      3.816930e+05
max      1.186337e+06
Name: tmdbId, dtype: float64
  Skewness: 1.25
--------------------------------------------------

tags.csv
Number of rows: 2000055
Number of columns: 4

Missing values per column:
  userId: 0 missing (0.00%)
  movieId: 0 missing (0.00%)
  tag: 0 missing (0.00%)
  timestamp: 0 missing (0.00%)

Column details:

Column: userId, Type: int64
count    2.000055e+06
mean     8.192807e+04
std      3.810614e+04
min      2.200000e+01
25%      6.841300e+04
50%      7.821300e+04
75%      1.036980e+05
max      1.622790e+05
Name: userId, dtype: float64
  Skewness: 0.12
--------------------------------------------------
Column: movieId, Type: int64
count    2.000055e+06
mean     7.189362e+04
std      7.480377e+04
min      1.000000e+00
25%      4.011000e+03
50%      5.232800e+04
75%      1.222940e+05
max      2.926290e+05
Name: movieId, dtype: float64
  Skewness: 0.82
--------------------------------------------------
Column: tag, Type: object
  Number of categories: 140979
--------------------------------------------------
Column: timestamp, Type: int64
count    2.000055e+06
mean     1.528916e+09
std      1.290807e+08
min      1.135429e+09
25%      1.473615e+09
50%      1.574083e+09
75%      1.614740e+09
max      1.697155e+09
Name: timestamp, dtype: float64
  Skewness: -1.22
--------------------------------------------------